
@model AssetsGrid.Models.AssetViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h2 class="modal-title">Delete Asset</h2>
            <h5>Are you sure you want to delete this?</h5>
        </div>

        <div class="modal-body">
            <div class="form-group">
                @Html.LabelFor(model => model.GeneralAssetDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GeneralAssetDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            @using (Ajax.BeginForm("Delete", "Asset", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "DeleteAssetSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {

      


                <div class="modal-footer">
                    <div class="form-group">
                        @Html.HiddenFor(x => x.AssetID)
                        <div class="col-md-offset-2 col-md-8">
                            <button type="button" class="btn btn-info" data-dismiss="modal"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> </button>
                            <button type="submit" class="btn btn-danger" value="Delete"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>